.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    color: #5398BE;
    text-shadow: 5px 5px 0 #000;
    text-align: center;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align: center;

}